<h2>Learning Resources</h2>
<p>Helpful resources you might want to use in addition to this course.</p>

<ul>
  <li>
    <!-- if you just want to send string, you don't need [] like [queryParam] -->
    <!-- <a href="https://angular.dev" appSafeLink queryParam="myapp-docs-link">Angular Documentation</a> -->

    <!-- if you add alias in ts, you can set without queryParam -->
    <a href="https://angular.dev" appSafeLink="myapp-docs-link">Angular Documentation</a>
  </li>
  <li>
    <a href="https://academind.com/courses" appSafeLink queryParam="myapp-docs-course">Academind Courses</a>
  </li>
  <li>
    <a href="https://www.google.com/search?q=angular" appSafeLink>Google</a>
  </li>
</ul>
